body{
    background-color:  #efefef;
}
form{
   padding-top: 50px;
   padding-right: 30px;
   padding-bottom: 20px;
   padding-left: 80px;
}
h1{
  text-align: center;
  padding-top: 20px;
}
#grafico{
    background-color: white;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin: 30px;
    height: 700px;
    width: 95vw;
 }
#info{
    text-align: center;
    background-color: white;
    margin: 50px;
    width: 50%;
}